.mypage
  .mypage__header
    .mypage__header__title
      .icon
        = link_to image_tag("logo/logo1.png",class: "header_logo"),root_path
      %h1
        = "HiBi管"
    .header_list
      = form_with(url: search_items_path, local: true, method: :get, class: "search__box__input") do |f|
        .search__box
          = f.text_field :keyword, placeholder: "商品名で検索する事が出来ます", class: "search__box__input"
          %button.search__box__btn{type: "submit"}
            = image_tag("icon/icon1.png",class: "seach_icon")
    .mypage__header__contents
      .mypage__header__contents__myname
        = @user.nickname
        %p
          = "さんのマイページ"
      .mypage__header__contents__out
        = link_to "ログアウト", destroy_user_session_path, method: :delete
  .mypage__main
    .mypage__main__btns
      .mypage__main__btns__product
        .mypage__main__btns__product__left
          = link_to new_item_path, method: :get do
            商品を登録する
        .mypage__main__btns__product__right
          = link_to "カテゴリー一覧", categories_path
  .my_lists__main
    .my_lists__main__list
      %h1 登録した商品一覧
      .container
        - @item.each do |item|
          - if current_user.id == item.user_id
            .container__box
              = link_to item_path(item.id), method: :get do
                - ft_image = item.images.first
                = image_tag ft_image.image.url, class: "list__image"
                .list__main
                  .list__main__name
                    = item.name
                  .list__main__details
                    %ul
                      %li 
                        = "数量"
                        = item.quantity
                        = "ヶ"
                      %li
                        = "購入店舗"
                        = item.shop
                      %li
                        = "消費期限"
                        = item.deadline
      .mypage__main__btns__myuser
        .mypage__main__btns__myuser__left
          = link_to "メールアドレスの変更", '/#/'
        .mypage__main__btns__myuser__right
          = link_to "トップに戻る", root_path
.mypage__footer
  = render "/posts/footer"