.items_header
  .items_header__inner
    .icon
      = link_to image_tag("logo/logo1.png",class: "header_logo"),root_path
    %h1
      = "HiBi管"
  .header_list
    .search__box
      %input.search__box__input{placeholder: "商品名から探す"}
      %button.search__box__btn{type: "submit"}
        = link_to image_tag("icon/icon1.png",class: "seach_icon"),'/#'
    .mypage_link
      = link_to "マイページ", "/users/#{current_user.id}"
