.items__header
  = render "header"
.items
  .items__main
    .main_nav
      .main_nav__list
        = link_to "TOP",'/#'
      .main_nav__next
        >
      .main_nav__list
        = link_to(@item.category.parent.parent.name)
      .main_nav__next
        >
      .main_nav__list
        = link_to( @item.category.parent.name)
      .main_nav__next
        >
      .main_nav__list
        = link_to( @item.category.name)
      .main_nav__next
        >
      .main_nav__list
        = @item.name
    .items__main__contents
      .item_box
        .item_box__name
          = @item.name
        .item_box__showimages
          - @item.images.each do |image, i|
            = image_tag image.image.url, class: "image-list"
        .item_box__table
          %table
            %tr
              %th
                登録品名
              %td
                = @item.name
            %tr
              %th
                カテゴリー
              %td
                = @item.category.parent.parent.name
                %br
                = @item.category.parent.name
                %br
                = @item.category.name
            %tr
              %th
                購入店舗
              %td
                = @item.shop
            %tr
              %th
                消費期限
              %td
                = @item.deadline
            %tr
              %th
                数量
              %td
                = @item.quantity
            %tr
              %th
                備考欄
              %td
                = @item.remarks
      .btn-list
        - if user_signed_in? && current_user.id == @item.user_id
          .btns
            .edit_btn
              =link_to "登録品の情報を編集する","/items/#{@item.id}/edit", method: :get
            .destroy_btn
              =link_to "登録品の情報を削除する","/items/#{@item.id}", method: :delete, data: {confirm: "本当に削除しますか？"}
      .wrapper
        = render "comment"
      .links
        %li
          = link_to "< トップに戻る", root_path
        %li
          = link_to "カテゴリー一覧に戻る >", categories_path
  .items__footer
    = render "/posts/footer"