.header
  = render "/items/header"
%h1 カテゴリー一覧
.categories
  .categories_lists
    - @parents.each do |parent|
      .parents
        = link_to "#{parent.name}", category_path(parent)

        .categories__children
          - parent.children.each do |child|
            .children
              = link_to "#{child.name}", category_path(child)
              
            .categories__grandchildren
              - child.children.each do |grandchild|
                .child
                  = link_to "#{grandchild.name}", category_path(grandchild)
.footer
  =render "/posts/footer"