.header
  = render "/items/header"
.categories-title
  %h1 全カテゴリー一覧
.categories
  .categories_lists
    - @parents.each do |parent|
      .parents
        = link_to "#{parent.name}", category_path(parent)

        .categories__children
          - parent.children.each do |child|
            .children
              = link_to "#{child.name}", category_path(child)
              
            -# .categories__grandchildren
            -#   - child.children.each do |grandchild|
            -#     .child
            -#       = link_to "#{grandchild.name}", category_path(grandchild)
.links
  %li
    = link_to "< トップに戻る", root_path
  %li
    = link_to "カテゴリー一覧に戻る >", categories_path
.footer
  =render "/posts/footer"