.header
  = render "/items/header"
.category_show
  .category_links
    - @category_links.each do |category|
      = link_to category.name, category_path(category)
.category-container
  .category-index
    .title
      = "#{@category.name}の商品一覧"
      .title__border
        %li ※登録品の画像をクリックすると詳細を確認できます
    - if @items
      %ul.lists
        = render "items/item-lists", items: @items
    = paginate @items
.links
  %li
    = link_to "< トップに戻る", root_path
  %li
    = link_to "カテゴリー一覧に戻る >", categories_path
.footer
  =render "/posts/footer"